certifi==2026.6.17
cffi>=1.17.1
charset-normalizer==3.4.9
cryptography>=3.4.8
idna==3.18
ifaddr==0.2.0
kademlia==2.2.3
lxml==6.1.1
prompt_toolkit==3.0.52
pycparser>=2.23
python-dateutil==2.9.0.post0
requests>=2.32.5
rpcudp==5.0.1
six==1.17.0
u-msgpack-python==2.8.0
upnpclient==2.0.3
urllib3>=2.6.3
wcwidth==0.8.2
